<div class="mj-column-per-100 mj-outlook-group-fix email-unsubscribe-block"  style="margin:0px auto;max-width:600px;">
    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
        <tr>
            <td align="center" style="font-size:0px;padding:4px 3px 0px;word-break:break-word;">
                <div style="font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:10px;line-height:14px;text-align:center;color:#000000;">You have received this email from us because you are registered on
                    <a href="https://veronikalove.com?{{ marker }}" style="color:#d91619;">veronikalove.com</a>. To receive email notifications from us, please add our e-mail to your Address Book or Safe List. If you want to unsubscribe from this type of email please
                    <a href="https://veronikalove.com/default/unsubscribe/index/user/{{ hash_unsub }}?{{ marker }}">click here</a>. Also you can unsubscribe from receiving email notifications or change notification preferences in your profile on
                    <a href="https://veronikalove.com/user/profile/delivery?{{ marker }}" style="color:#d91619;">veronikalove.com</a>
                </div>
                <img src="{{ pixel }}">
            </td>
        </tr>
    </table>
</div>